<!-- Base.html - this will be used for other templates to inherit from -->

{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'lightbox/css/lightbox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dropzone/css/dropzone.css' %}"/>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
        <script src="{% static 'dropzone/js/dropzone.js' %}"></script>
	</head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        
            <!-- Navbar -->
            <div class="navbar-header">
                
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/gallery">Gallery</a>

                {% if request.user.is_authenticated %}
                    <a class="navbar-brand" href="/panel/">Control Panel</a>
                    <a class="navbar-brand">Welcome {{request.user.username}}</a>
                    <a class="navbar-brand" href="/logout/">Log Out</a>
                {% else %}
                    <a class="navbar-brand" href="/login/">Log In</a>
                {% endif %}

            </div>
        </div>
        </nav> 

    </body>

    {% block content %}

    {% endblock %}
</html>