{% extends 'website/base.html' %}

{% load staticfiles %}

{% block content %}

</div>
	<h1 id="index-heading">Starlight</h1>

	<div id="slider">
		<figure>
			{% for f in all_favourite_photos %}
				<img src="{{ f.photo_img.url }}" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;width:600px;height:600px;border: gold 2px outset;"></img>
			{% endfor %}
		</figure>
	</div>

			
	<!-- <a href="{% static 'photos/isobel/1.jpg' %}" data-lightbox="image-1" data-title="Isobel">
		<center><img src="{% static 'photos/isobel/1.jpg' %}" alt="Main-Pic" style="width:600px;height:600px;border: gold 2px outset;"></img></center>
	</a> -->

{% endblock %}