<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content %}

<h1 id="panel-heading">The Panel</h1>

<div class="container">
  <div class="tab">
    <button class="tablinks" onclick="openTab('Upload')">Upload</button>
    <button class="tablinks" onclick="openTab('Edit')">Edit</button>
    <button class="tablinks" onclick="openTab('Categories')">Categories</button>
    <button class="tablinks" onclick="openTab('Remove')">Remove</button>
  </div>

<div id="Upload" class="tabcontent" style="display:block">
  <h2>Upload Photos!</h2>

  <div class="dropdown">

    <select id="thedropdown">

      <option value="" selected disabled hidden>Select a Category</option>

      {% for c in all_categories %}
        <option value="{{ c.cat_name }}">{{ c.cat_name }}</option>
      {% endfor %}
    </select>

  </div>

  <!-- TODO -->
  <form action="/file-upload" class="dropzone" id="my-awesome-dropzone">
    
  </form>
      
</div>

<div id="Edit" class="tabcontent" style="display:none">
  <h2>Edit Photos!</h2>
  
  <div class="dropdown">
    <select id="thedropdown">
        <option value="" selected disabled hidden>Select a Category</option>

      {% for c in all_categories %}
        <option value="{{ c.cat_name }}">{{ c.cat_name }}</option>
      {% endfor %}
    </select>

  </div>
</div>

<div id="Categories" class="tabcontent" style="display:none">

  <h2>Select a Category</h2>

  <div class="dropdown">
    <select id="thedropdown">

      <option value="" selected disabled hidden>Select a Category</option>

      {% for c in all_categories %}
        <option value="{{ c.cat_name }}">{{ c.cat_name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="button" id="addcat" onclick="addCategory()">Add a Category</div>  

  <script>
    function addCategory(){

      // add category here
    }
  </script>
</div>

<div id="Remove" class="tabcontent" style="display:none">
  <h2>Remove</h2>

  <div class="dropdown">
    <select id="thedropdown">

      <option value="" selected disabled hidden>Select a Category</option>

      {% for c in all_categories %}
        <option value="{{ c.cat_name }}">{{ c.cat_name }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<script>
	function openTab(category) {
    var i;
    var x = document.getElementsByClassName("tabcontent");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
    }
    document.getElementById(category).style.display = "block"; 
}
</script>

{% endblock %}