<!DOCTYPE html>

{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content %}

<h1 id="panel-heading">The Panel</h1>

<div class="container">
  <div class="tab">
    <button class="tablinks" onclick="openTab('Upload')">Upload</button>
    <button class="tablinks" onclick="openTab('Edit')">Edit</button>
    <button class="tablinks" onclick="openTab('Categories')">Categories</button>
    <button class="tablinks" onclick="openTab('Remove')">Remove</button>
  </div>

<div id="Upload" class="tabcontent">
  <h2>Upload Photos!</h2>

  <div class="dropdown">

      <span>Select a Category</span>
  
      <div class="dropdown-content">
        {% for cat in all_categories %}
          <p>{{ cat.cat_name }}</p>
        {% endfor %}
      </div>

  </div>

  <!-- TODO -->
  <form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>
      
</div>

<div id="Edit" class="tabcontent" style="display:none">
  <h2>Edit</h2>
  <p>Edit goes here.</p> 
</div>

<div id="Categories" class="tabcontent" style="display:none">
  <h2>Categories</h2>
  <p>Categories go here.</p> 
</div>

<div id="Remove" class="tabcontent" style="display:none">
  <h2>Remove</h2>
  <p>Remove goes here.</p> 
</div>
</div>

<script>
	function openTab(category) {
    var i;
    var x = document.getElementsByClassName("tabcontent");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
    }
    document.getElementById(category).style.display = "block"; 
}
</script>

{% endblock %}